<li class="portfolio-item wordpress kurukshetra">
  <div class="item-inner">
    <div class="portfolio-image">
      <%= image_tag("kurukshetra/1.jpg", :alt => "", height: "175px !important;") %>
    </div>
  </div>
</li>
<li class="portfolio-item wordpress kurukshetra">
  <div class="item-inner">
    <div class="portfolio-image">
      <%= image_tag("kurukshetra/2.jpg", :alt => "", height: "175px !important;") %>
    </div>
  </div>
</li>
<li class="portfolio-item wordpress kurukshetra">
  <div class="item-inner">
    <div class="portfolio-image">
      <%= image_tag("kurukshetra/3.jpg", :alt => "", height: "175px !important;") %>
    </div>
  </div>
</li>
<li class="portfolio-item wordpress kurukshetra">
  <div class="item-inner">
    <div class="portfolio-image">
      <%= image_tag("kurukshetra/4.jpg", :alt => "", height: "175px !important;") %>
    </div>
  </div>
</li>
<li class="portfolio-item wordpress kurukshetra">
  <div class="item-inner">
    <div class="portfolio-image">
      <%= image_tag("kurukshetra/5.jpg", :alt => "", height: "175px !important;") %>
    </div>
  </div>
</li>
<li class="portfolio-item wordpress kurukshetra">
  <div class="item-inner">
    <div class="portfolio-image">
      <%= image_tag("kurukshetra/6.jpg", :alt => "", height: "175px !important;") %>
    </div>
  </div>
</li>
<li class="portfolio-item wordpress kurukshetra">
  <div class="item-inner">
    <div class="portfolio-image">
      <%= image_tag("kurukshetra/7.jpg", :alt => "", height: "175px !important;") %>
    </div>
  </div>
</li>
