<li class="col-md-4 portfolio-item wordpress all">
  <div class="item-inner">
    <div class="portfolio-image">
      <%= image_tag("new_images/1.jpg", :alt => "", height: "175px !important;") %>
    </div>
  </div>
</li>
<li class="col-md-4 portfolio-item wordpress all">
  <div class="item-inner">
    <div class="portfolio-image">
      <%= image_tag("new_images/2.jpg", :alt => "", height: "175px !important;") %>
    </div>
  </div>
</li>
<li class="col-md-4 portfolio-item wordpress all">
  <div class="item-inner">
    <div class="portfolio-image">
      <%= image_tag("new_images/3.jpg", :alt => "", height: "175px !important;") %>
    </div>
  </div>
</li>
<li class="col-md-4 portfolio-item wordpress all">
  <div class="item-inner">
    <div class="portfolio-image">
      <%= image_tag("new_images/4.jpg", :alt => "", height: "175px !important;") %>
    </div>
  </div>
</li>
<li class="col-md-4 portfolio-item wordpress all">
  <div class="item-inner">
    <div class="portfolio-image">
      <%= image_tag("new_images/5.jpg", :alt => "", height: "175px !important;") %>
    </div>
  </div>
</li>
<li class="col-md-4 portfolio-item wordpress all">
  <div class="item-inner">
    <div class="portfolio-image">
      <%= image_tag("new_images/6.jpg", :alt => "", height: "175px !important;") %>
    </div>
  </div>
</li>

<li class="col-md-4 portfolio-item wordpress all">
  <div class="item-inner">
    <div class="portfolio-image">
      <%= image_tag("new_images/7.jpg", :alt => "", height: "175px !important;") %>
    </div>
  </div>
</li>
<li class="col-md-4 portfolio-item wordpress all">
  <div class="item-inner">
    <div class="portfolio-image">
      <%= image_tag("new_images/8.jpg", :alt => "", height: "175px !important;") %>
    </div>
  </div>
</li>
<li class="col-md-4 portfolio-item wordpress all">
  <div class="item-inner">
    <div class="portfolio-image">
      <%= image_tag("new_images/9.jpg", :alt => "", height: "175px !important;") %>
    </div>
  </div>
</li>
<li class="col-md-4 portfolio-item wordpress all">
  <div class="item-inner">
    <div class="portfolio-image">
      <%= image_tag("new_images/10.jpg", :alt => "", height: "175px !important;") %>
    </div>
  </div>
</li>
<li class="col-md-4 portfolio-item wordpress all">
  <div class="item-inner">
    <div class="portfolio-image">
      <%= image_tag("new_images/11.jpg", :alt => "", height: "175px !important;") %>
    </div>
  </div>
</li>
<li class="col-md-4 portfolio-item wordpress all">
  <div class="item-inner">
    <div class="portfolio-image">
      <%= image_tag("new_images/12.jpg", :alt => "", height: "175px !important;") %>
    </div>
  </div>
</li>

<li class="col-md-4 portfolio-item wordpress all">
  <div class="item-inner">
    <div class="portfolio-image">
      <%= image_tag("new_images/13.jpg", :alt => "", height: "175px !important;") %>
    </div>
  </div>
</li>
<li class="col-md-4 portfolio-item wordpress all">
  <div class="item-inner">
    <div class="portfolio-image">
      <%= image_tag("new_images/14.jpg", :alt => "", height: "175px !important;") %>
    </div>
  </div>
</li>
<li class="col-md-4 portfolio-item wordpress all">
  <div class="item-inner">
    <div class="portfolio-image">
      <%= image_tag("new_images/15.jpg", :alt => "", height: "175px !important;") %>
    </div>
  </div>
</li>
