  <li class="col-md-4 portfolio-item wordpress all">
    <div class="item-inner">
      <div class="portfolio-image">
        <%= image_tag("all/1.jpg", :alt => "", height: "175px !important;") %>
      </div>
    </div>
  </li>
  <li class="col-md-4 portfolio-item wordpress all">
    <div class="item-inner">
      <div class="portfolio-image">
        <%= image_tag("all/2.jpg", :alt => "", height: "175px !important;") %>
      </div>
    </div>
  </li>
  <li class="col-md-4 portfolio-item wordpress all">
    <div class="item-inner">
      <div class="portfolio-image">
        <%= image_tag("all/3.jpg", :alt => "", height: "175px !important;") %>
      </div>
    </div>
  </li>
  <li class="col-md-4 portfolio-item wordpress all">
    <div class="item-inner">
      <div class="portfolio-image">
        <%= image_tag("all/4.jpg", :alt => "", height: "175px !important;") %>
      </div>
    </div>
  </li>
  <li class="col-md-4 portfolio-item wordpress all">
    <div class="item-inner">
      <div class="portfolio-image">
        <%= image_tag("all/5.jpg", :alt => "", height: "175px !important;") %>
      </div>
    </div>
  </li>
  <li class="col-md-4 portfolio-item wordpress all">
    <div class="item-inner">
      <div class="portfolio-image">
        <%= image_tag("all/6.jpg", :alt => "", height: "175px !important;") %>
      </div>
    </div>
  </li>
