<li class="portfolio-item wordpress butterflies">
  <div class="item-inner">
    <div class="portfolio-image">
      <%= image_tag("butterflies/1.jpg", :alt => "", height: "175px !important;") %>
    </div>
  </div>
</li>
<li class="portfolio-item wordpress butterflies">
  <div class="item-inner">
    <div class="portfolio-image">
      <%= image_tag("butterflies/7.jpg", :alt => "", height: "175px !important;") %>
    </div>
  </div>
</li>
<li class="portfolio-item wordpress butterflies">
  <div class="item-inner">
    <div class="portfolio-image">
      <%= image_tag("butterflies/2.jpg", :alt => "", height: "175px !important;") %>
    </div>
  </div>
</li>
<li class="portfolio-item wordpress butterflies">
  <div class="item-inner">
    <div class="portfolio-image">
      <%= image_tag("butterflies/3.jpg", :alt => "", height: "175px !important;") %>
    </div>
  </div>
</li>
<li class="portfolio-item wordpress butterflies">
  <div class="item-inner">
    <div class="portfolio-image">
      <%= image_tag("butterflies/4.jpg", :alt => "", height: "175px !important;") %>
    </div>
  </div>
</li>
<li class="portfolio-item wordpress butterflies">
  <div class="item-inner">
    <div class="portfolio-image">
      <%= image_tag("butterflies/5.jpg", :alt => "", height: "175px !important;") %>
    </div>
  </div>
</li>
<li class="portfolio-item wordpress butterflies">
  <div class="item-inner">
    <div class="portfolio-image">
      <%= image_tag("butterflies/6.jpg", :alt => "", height: "175px !important;") %>
    </div>
  </div>
</li>
