<li class="portfolio-item wordpress chemfluence">
  <div class="item-inner">
    <div class="portfolio-image">
      <%= image_tag("chemfluence/1.jpg", :alt => "", height: "175px !important;") %>
    </div>
  </div>
</li>
<li class="portfolio-item wordpress chemfluence">
  <div class="item-inner">
    <div class="portfolio-image">
      <%= image_tag("chemfluence/2.jpg", :alt => "", height: "175px !important;") %>
    </div>
  </div>
</li>
<li class="portfolio-item wordpress chemfluence">
  <div class="item-inner">
    <div class="portfolio-image">
      <%= image_tag("chemfluence/3.jpg", :alt => "", height: "175px !important;") %>
    </div>
  </div>
</li>
<li class="portfolio-item wordpress chemfluence">
  <div class="item-inner">
    <div class="portfolio-image">
      <%= image_tag("chemfluence/4.jpg", :alt => "", height: "175px !important;") %>
    </div>
  </div>
</li>
<li class="portfolio-item wordpress chemfluence">
  <div class="item-inner">
    <div class="portfolio-image">
      <%= image_tag("chemfluence/5.jpg", :alt => "", height: "175px !important;") %>
    </div>
  </div>
</li>
<li class="portfolio-item wordpress chemfluence">
  <div class="item-inner">
    <div class="portfolio-image">
      <%= image_tag("chemfluence/6.jpg", :alt => "", height: "175px !important;") %>
    </div>
  </div>
</li>
<li class="portfolio-item wordpress chemfluence">
  <div class="item-inner">
    <div class="portfolio-image">
      <%= image_tag("chemfluence/7.jpg", :alt => "", height: "175px !important;") %>
    </div>
  </div>
</li>
