<!DOCTYPE html>
<html lang="en">
<head>
	<title>Mastering an Education Category Flat Bootstrap Responsive Website Template | Gallery :: w3layouts</title>
	<!-- custom-theme -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="" />
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
	</head>

	<body>
		<!-- banner -->
		<%= render 'menu'%>
		<div class="banner1">
			<div class="w3_agileits_service_banner_info">
				<h2>Gallery</h2>
			</div>
		</div>

		<div class="container" style="padding-top: 5%">
			<div class="col-md-3">
				<ul class="portfolio-filter">
						<li><a class="btn btn-link active" href="#" data-filter=".all">All</a></li>
						<li><a class="btn btn-link" href="#" data-filter=".butterflies">Butterflies</a></li>
						<li><a class="btn btn-link" href="#" data-filter=".chemfluence">Chemfluence</a></li>
						<li><a class="btn btn-link" href="#" data-filter=".kurukshetra">Kurukshetra</a></li>
						<li><a class="btn btn-link" href="#" data-filter=".jalak">Jalak</a></li>
						<li><a class="btn btn-link" href="#" data-filter=".shuru">Shuru</a></li>
						<li><a class="btn btn-link" href="#" data-filter=".kalakrithi_17">Kalakrithi'17</a></li>
				</ul>
			</div>
			<div class="col-md-9">
				<ul class="portfolio-items col-3">
					<%= render 'gallery_all'%>
					<%= render 'gallery_butterflies'%>
					<%= render 'gallery_chemfluence'%>
					<%= render 'gallery_kurukshetra'%>
					<%= render 'gallery_jalak'%>
					<%= render 'gallery_shuru'%>
					<%= render 'gallery_kalakrithi_17'%>
				</ul>
			</div>
		</div>
		<%= render 'footer' %>
		<script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
		<script type="text/javascript">
		$(window).load(function(){
			$portfolio = $('.portfolio-items');
			$portfolio.isotope({
				itemSelector : 'li',
				layoutMode : 'fitRows'
			});
			$portfolio_selectors = $('.portfolio-filter >li>a');
			$portfolio_selectors.on('click', function(){
				$portfolio_selectors.removeClass('active');
				$(this).addClass('active');
				var selector = $(this).attr('data-filter');
				$portfolio.isotope({ filter: selector });
				return false;
			});
		});
		</script>
		<script src="js/jquery.isotope.min.js"></script>
		<script type="text/javascript">
			jQuery(document).ready(function($) {
				$('.portfolio-filter').find('a.active').click();
				$(".scroll").click(function(event){
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
				});
			});
		</script>
		<!-- start-smooth-scrolling -->
		<link rel="stylesheet" href="css/swipebox.css">
		<script src="js/jquery.swipebox.min.js"></script>
		<script type="text/javascript">
			jQuery(function($) {
				$(".swipebox").swipebox();
			});
		</script>
	</body>
</html>
