<!DOCTYPE html>
<html>
  <head>
    <title>Winkhiz Event Management</title>
  	<!-- custom-theme -->
  	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  	<meta name="keywords" content="" />
  	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
  		function hideURLbar(){ window.scrollTo(0,1); } </script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <!-- <script type="text/javascript" src="js/jquery-2.1.4.min.js"></script> -->
    <link rel="icon" href="<%= asset_path 'favicon.png' %>" type="image/x-icon" />
    <%= csrf_meta_tags %>
    <link href="//fonts.googleapis.com/css?family=Raleway:400,400i,500,500i,600,600i,700,700i,800" rel="stylesheet">
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
  </head>

  <body>

    <%= yield %>

    <script type="text/javascript">
      jQuery(document).ready(function($) {
        $(".scroll").click(function(event){
          event.preventDefault();
          $('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
        });
      });
    </script>
    <!-- <script type="text/javascript">
      $(document).ready(function() {
        $().UItoTop({ easingType: 'easeOutQuart' });
        $("body").find('#loader-wrapper').hide();
      });
    </script> -->
    <%= render 'footer' %>
  </body>
</html>
